

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}
.hidden {
    display: none;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown a {
    color: white;
    text-decoration: none;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    color: black;
    min-width: 100px;
}

.dropdown:hover .dropdown-content {
    display: block;
    cursor: pointer;
}


.dropdown a:hover{
    background-color: #10a2ff;
    cursor: pointer;
}

.dropdown-content p {
    padding:5px;
    margin: 0px;
}
.dropdown-content p:hover{
    background-color: #10a2ff;
    color: #f9f9f9;
}